<html>
    <head>
        <title>Document</title>
        <link rel="stylesheet" href="styles.css">
    </head>
    <body>
        <div class="login-page">
            <div class="form">
                <b>VIEW</b>
            </br>
            </br>
            </br>
            <table>
                <tr>
                    <th>Full Name</th>
                    <th>Address</th>
                    <th>Contact Number</th>
                    <th>Temperature</th>
                </tr>
                <tr>
                    <td>John Doe</td>
                    <td>1234 Main St.</td>
                    <td>09123456789</td>
                    <td>36.5</td>
                </tr>
                <tr>
                    <td>Dave Johnson</td>
                    <td>5211 Park Avenue</td>
                    <td>09812327272</td>
                    <td>37.5</td>
                </tr>
                <tr>
                    <td>Dale Stew</td>
                    <td>4222 Orchid St.</td>
                    <td>09237826272</td>
                    <td>38.5</td>
                </tr>
                <tr>
                    <td>Stuart Bloom</td>
                    <td>1234 Abbey Rd.</td>
                    <td>09278255527</td>
                    <td>36.1</td>
                </tr>
                <tr>
                    <td>Jerry Lawson</td>
                    <td>1234 Town Highway Rd.</td>
                    <td>09274826627</td>
                    <td>36.3</td>
                </tr>
            </table>
            </div>
        </div>
    </body>
</html>